<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WelcomeCRUD</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  
  <body>
    <form class="container-fluid col-5" action="/post-crud" method="POST">
      <div class="col-4 mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="col-4 mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="col-4 mb-3">
        <label for="exampleInputEmail1" class="form-label">First name</label>
        <input
          name="firstName"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="col-4 mb-3">
        <label for="exampleInputEmail1" class="form-label">Last name:</label>
        <input
          name="lastName"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="col-4 mb-3">
        <label for="exampleInputEmail1" class="form-label">address</label>
        <input
          name="address"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="col-4 mb-3">
        <label for="exampleInputEmail1" class="form-label">Phone Name</label>
        <input
          name="phoneNumber"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="col-4 mb-3">
        <label for="exampleInputEmail1" class="form-label">Gender</label>
        <select name="gender" id="">
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
      </div>
      <div class="col-4 mb-3">
        <label for="exampleInputEmail1" class="form-label">Role</label>
        <select name="roleId" id="">
          <option value="1">Admin</option>
          <option value="2">Doctor</option>
          <option value="3">Patient</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
