<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GET CRUD</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Email</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Actions</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < dataTable.length; i++) { %>
        <tr>
          <td><%= dataTable[i].email %></td>
          <td><%= dataTable[i].firstName %></td>
          <td><%= dataTable[i].lastName %></td>
          <td><%= dataTable[i].address %></td>
          <td>
            <a
              href="/edit-crud?id=<%= dataTable[i].id %>"
              class="text-bg-primary badge"
              type="button"
              >Edit</a
            >
            <a
              href="/delete-crud?id=<%= dataTable[i].id %>"
              class="text-bg-danger badge"
              type="button"
              >Delete</a
            >
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
