<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User's Infomation</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <form class="container-fluid col-5" action="/put-crud" method="POST">
      <div class="row mt-5">
        <div><b>Edit User's Information</b></div>
        <div class="col-4 mb-3">
          <label for="exampleInputEmail1" class="form-label">First name</label>
          <input
            name="firstName"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            value="<%= user.firstName %>"
          />
        </div>
        <div class="col-4 mb-3">
          <label for="exampleInputEmail1" class="form-label">Last name:</label>
          <input
            name="lastName"
            type="text"
            class="form-control"
            value="<%= user.lastName%>"
          />
        </div>
      </div>
      <div class="col-4">
        <label for="exampleInputEmail1" class="form-label">address</label>
        <input
          name="address"
          type="text"
          class="form-control"
          value="<%= user.address%>"
        />
      </div>
      <input name="id" value="<%= user.id%>" hidden />
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </body>
</html>
