.login-background {
    height    : 100vh;
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);

    .login-container {
        width           : 400px;
        height          : 450px;
        background-color: white;
        border-radius   : 10px;
        position        : absolute;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
        margin          : auto;

        .login-title {
            text-align : center;
            font-weight: 600;
            font-size  : 24px;
            padding-top: 10px;
        }

        .login-content {
            padding-top: 20px;
        }

        .form-group label {
            margin: 8px;
        }

        .form-group {
            display        : flex;
            justify-content: center;
            margin-top     : 17px;
            font-weight    : 600;
        }

        .form-control {
            width: 200px;
        }

        .btn-login {
            width        : 30%;
            margin       : 10px 0;
            height       : 30px;
            border-radius: 15px;
            outline      : none;
            border       : none;
            background   : linear-gradient(135deg, #771914 0%, #28063d 100%);
            color        : white;
        }

        .forgot-password {
            font-size: 12px;
        }

        .custom-input-password {
            position: relative;

            i {
                position: absolute;
                top     : 10px;
                right   : 10px;
                cursor  : pointer;

            }

        }

        .form-footer {
            display        : flex;
            justify-content: center;
        }

        .social-login {
            display        : flex;
            text-align     : center;
            justify-content: center;
            margin-top     : 10px;
        }

        .google {
            width        : 45px;
            border-radius: 4px;
            padding      : 4px;
            font-size    : 30px;
            color        : red;
            margin-right : 10px;
            cursor       : pointer;

        }

        .facebook {
            width           : 45px;
            border-radius   : 4px;
            padding         : 4px;
            background-color: blue;
            font-size       : 30px;
            color           : white;
            cursor          : pointer;
        }
    }
}